<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<title>pizza-index</title>
</head>

<body>

	<div class="bg-i container min-vh-100">
		<div class="gi-nav shadow fixed-top">
			<div class="container d-flex align-items-center justify-content-between">
				<div>
					<a th:href="@{/pizze}">
						<h1 class="text-danger text-center fw-bold">Pizze!</h1>

					</a>
				</div>
				<form class="d-flex w-50" action="/pizze/search" method="get">
					<input class="w-75 me-2 bg-light-subtle" type="text" name="nome"
						placeholder="cerca la tua pizza preferita">
					<button class="btn btn-danger fw-bold" type="submit">Cerca</button>
				</form>
			</div>
		</div>
		<div class="container d-flex align-items-center justify-content-center">
			<div class="card shadow position-relative p-3 margin">
				<div class="row">
					<div th:each="ingrediente : ${ingrediente}" class="col-3">

						<p class="fw-bold" >- [[${ingrediente.nome}]] </p>
					</div>

				</div>


				<div class="gi-crea">

					<a class="fw-bold btn btn-danger text-white shadow" th:href="@{/ingredienti/create}">Aggiungi un nuovo ingrediente! <i
							class="fa-solid fa-pizza-slice"></i></a>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>

</html>